# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.The two of us.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Allwka\The two of us\.idea\.idea.The two of us\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
